<configuration debug="true">
    <if condition='"".equals(property("app.id"))'>
        <then>
            <property name="ROLL_FILE_NAME" value="spring"/>
        </then>
        <else>
            <property name="ROLL_FILE_NAME" value="${app.id}"/>
        </else>
    </if>
    <!-- 处理新版Mac OS不能操作根路径的问题 -->
    <if condition='property("os.name").contains("Mac OS")'>
        <then>
            <property name="ROLL_LOG_PATH" value="${user.home}/chj/data/log/${ROLL_FILE_NAME}"/>
        </then>
        <else>
            <property name="ROLL_LOG_PATH" value="/chj/data/log/${ROLL_FILE_NAME}"/>
        </else>
    </if>
    <property name="FILE_ENCODING" value="UTF-8"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [traceId:[%X{traceId:-}]] [%thread] %-5level logger %msg%n"/>

    <appender name="FILE_TIMEROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}.log</file>
        <prudent>false</prudent>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大1024MB时会被压缩和切割 -->
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="FILE_TIMEROLLING_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}_error.log</file>
        <prudent>false</prudent>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}_error_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大1024MB时会被压缩和切割 -->
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="FILE_TIMEROLLING"/>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="FILE_TIMEROLLING_ERROR"/>
    </appender>

    <appender name="CONSOLE_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="BUSINESS_DOWNLOAD_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}_download.log</file>
        <prudent>false</prudent>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ROLL_LOG_PATH}/${ROLL_FILE_NAME}_download_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <MaxHistory>10</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大1024MB时会被压缩和切割 -->
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="BUSINESS_DOWNLOAD" additivity="false" level="INFO">
        <appender-ref ref="BUSINESS_DOWNLOAD_LOG_APPENDER"/>
    </logger>

    <logger name="software.amazon.awssdk" level="WARN"> </logger>
    <logger name="org.apache.http" level="WARN"> </logger>


    <root level="INFO">
<!--        &lt;!&ndash; 未知环境，或者dev环境，才会在Console控制台打印日志 &ndash;&gt;-->
<!--        <if condition='"".equals(property("env")) || "dev".equalsIgnoreCase(property("env"))'>-->
<!--            <then>-->
<!--                <appender-ref ref="CONSOLE_STDOUT"/>-->
<!--            </then>-->
<!--        </if>-->
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="FILE_TIMEROLLING_ERROR"/>
        <appender-ref ref="CONSOLE_STDOUT"/>
    </root>
</configuration>
