<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graphinsight.indicator.auto.mapper.WordCarInfosMapper">

    <select id="selectKeyList" resultType="com.graphinsight.indicator.auto.entity.WordCarInfos">
        select `original_value`,`use_value`
        from word_car_infos where `original_value` in
        <foreach item="id" collection="valueList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectInfoList" resultType="com.graphinsight.indicator.auto.entity.WordCarInfos">
        select  `original_value`,`use_value`
        from word_car_infos
    </select>
</mapper>
